/*
    ###############################################################################
    #
    #  Copyright © 2018 by <yourname>
    #
    #   All rights reserved. No part of this publication may be reproduced, distributed,
    #   or transmitted in any form or by any means, including photocopying, recording, 
    #   or other electronic or mechanical methods, without the prior written permission 
    #   of the publisher, except in the case of brief quotations embodied in critical reviews 
    #   and certain other noncommercial uses permitted by copyright law.
    #
    #   PERSONAL RESUME - STYLE.CSS!
    #
    ###############################################################################
*/

/* ============= Customise CSS Style ============= */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Scope+One');

/* Body Reset */
html body {
    height: 100vh !important;
    min-height: 100% !important;
    height: 100vh;
    width: auto;
    vertical-align: baseline;
}
  

html
{
    /* background: #FFFFFF url(http://<?php echo $IP;?>/img/bg2.jpg) no-repeat center bottom fixed; */
    /* background-color: rgba(0, 0, 0, 0.803); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background-color: white;
    font-family: 'Scope One', serif;
}

.pad-top {
    padding-top: 70px;
}

.radius {
    border-radius: 10%;
}

.round {
    border-radius: 50%;
}

.center {
    text-align: center;
}

.highlight {
    /* color: rgb(97, 97, 179); */
    color: purple;
}

.bkgd_light {
    background-color: rgba(220, 220, 220, 0.65);
}

/* zoom */
.zoom:hover {
    transform: scale(1.09);
    border: rgba(0, 0, 0, 0.239) solid 1.5px;
}
.zoom1:hover {
    transform: scale(1.36);
}

/* footer */
.footer {
    font-size: 13px;
    color: white;
    text-align: center;
    padding: .4em 0 .05em 0;
    background-color: rgba(0, 0, 0, 0.803);
}

